<div>
  <p class="font-medium underline-offset text-on-primary-container">Contact</p>
  <div class="flex flex-column gap-2 md:gap-3">
    <div class="flex gap-2 align-items-center">
      <mat-icon color="primary">call</mat-icon>
      <a
        class="my-0 no-underline hover-underline cursor-pointer"
        href="https://wa.link/zzf5h6"
      >
        +62 818851010 <span class="text-outline">(Whatsapp)</span>
      </a>
      <a class="cursor-pointer" (click)="openSnackBar('+62818851010')">
        <mat-icon color="accent">content_copy</mat-icon>
      </a>
    </div>
    <div class="flex gap-2 align-items-center">
      <mat-icon color="primary">mail</mat-icon>
      <a
        class="my-0 no-underline hover-underline cursor-pointer"
        href="mailto:selsapingardi@outlook.com"
      >
        selsapingardi&#64;outlook.com
      </a>
      <a
        class="cursor-pointer"
        (click)="openSnackBar('selsapingardi@outlook.com')"
      >
        <mat-icon color="accent">content_copy</mat-icon>
      </a>
    </div>
  </div>
</div>
