mat-icon {
  font-size: 18px;
  height: 18px;
  width: 18px;
}
a {
  cursor: pointer;
}
.hover-underline {
  display: inline-block;
  position: relative;
  color: var(--md-sys-color-primary);
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -1px;
    left: 0;
    background-color: var(--md-sys-color-primary);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
  }
  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
