<div class="md:hidden z-5 py-4 px-3 bg-surface-sticky-blur w-screen">
  <h4 class="my-0 uppercase">About Me</h4>
</div>
@for (paragraph of paragraphs; track $index) {
<p>{{ paragraph }}</p>
}
<div class="mt-5 grid grid-nogutter">
  @for (group of bulletPoints; track $index) {
  <div class="col-12 lg:col-6">
    <p class="mt-0 mb-2 font-medium underline-offset text-on-primary-container">
      {{ group.name }}
    </p>
    <ul class="grid grid-nogutter pl-0 list-none">
      @for (bullet of group.bullets; track $index) {
      <li class="col-5 mb-1">
        <p class="my-0 flex align-items-center text-sm">
          <mat-icon class="mr-2" color="primary">arrow_right</mat-icon
          >{{ bullet }}
        </p>
      </li>
      }
    </ul>
  </div>
  }
</div>
