button {
  &.primary-tonal {
    background-color: var(--md-sys-color-primary-container) !important;
    color: var(--md-sys-color-on-primary-container) !important;
    &.languages {
      height: 28px;
      padding: 0 1rem;
    }
  }
  &.tertiary-tonal {
    background-color: var(--md-sys-color-tertiary-container) !important;
    color: var(--md-sys-color-on-tertiary-container) !important;
    &.technologies {
      display: flex;
      align-items: center;
      height: 28px;
      padding: 0 14px 0 22px;
    }
  }
}
