<div class="mx-auto min-h-screen max-w-screen px-8">
  <div class="min-h-screen lg:flex lg:justify-content-between lg:gap-5">
    <header
      class="lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-6 lg:flex-column lg:justify-content-between lg:py-6"
    >
      <div class="flex flex-column gap-1">
        <h1 class="text-7xl my-0">{{ name }}</h1>
        <p class="text-2xl font-medium mt-0 mb-2">{{ job }}</p>
        <p class="font-medium my-0 max-w-30rem">
          {{ description }}
        </p>
        <nav class="max-w-30rem">
          <ul class="mt-5 pl-0 list-none">
            @for(link of navLinks; track link) {
            <li class="uppercase py-2 flex align-items-center">
              {{ link }}
            </li>
            }
          </ul>
        </nav>
      </div>
      <div class="flex gap-6">
        <div class="w-4" style="background-color: #8f4a4e"></div>
        <div class="flex flex-column gap-3">
          <app-contact></app-contact>
          <app-links></app-links>
          <button
            mat-icon-button
            class="tonal"
            (click)="darkTheme.set(!darkTheme())"
          >
            <mat-icon class>{{
              darkTheme() ? "light_mode" : "dark_mode"
            }}</mat-icon>
          </button>
        </div>
      </div>
    </header>
    <main class="py-6 lg:w-6 lg:px-6">
      <app-about-me></app-about-me>

      <app-experiences></app-experiences>

      <app-projects></app-projects>

      <app-education></app-education>
    </main>
  </div>
</div>
<router-outlet></router-outlet>
