<div class="md:hidden z-5 py-4 px-3 bg-surface-sticky-blur w-screen">
  <h4 class="my-0 uppercase">Education</h4>
</div>
<div class="mt-3 flex flex-column gap-4">
  @for (degree of degrees; track $index) {
  <mat-card
    class="outlined primary flex flex-row p-2"
    data-aos="fade-up"
    data-aos-duration="2000"
  >
    <div class="hidden md:flex col max-w-6rem flex-column gap-1">
      <span class="mt-1 font-medium text-sm text-secondary">{{
        degree.year + " GRAD"
      }}</span>
      <span class="mt-1 font-medium text-sm text-secondary">{{
        degree.gpa + " GPA"
      }}</span>
    </div>
    <div class="col flex flex-column gap-3">
      <div>
        <div class="flex justify-content-between md:hidden mb-2">
          <span class="mt-1 font-medium text-xs text-secondary">{{
            degree.year + " GRAD"
          }}</span>
          <span class="mt-1 font-medium text-xs text-secondary">{{
            degree.gpa + " GPA"
          }}</span>
        </div>
        <p class="my-0 font-medium text-on-primary-container">
          {{ degree.degree }}
        </p>
        <p class="mt-1 mb-0 text-sm text-outline">{{ degree.university }}</p>
      </div>
      <div>
        <p class="my-0 font-medium text-sm text-on-primary-container">
          {{ degree.description }}
        </p>
      </div>
      <div class="flex flex-column gap-1">
        <ul class="my-0 pl-3">
          @for (award of degree.awards; track $index) {
          <li class="my-0 font-italic text-sm text-on-surface-variant">
            {{ award }}
          </li>
          }
        </ul>
      </div>
      <div class="flex flex-row flex-wrap gap-2">
        @for (link of degree.links; track $index) {
        <a
          class="text-sm text-on-primary-container flex align-items-center no-underline"
          [href]="link.link"
          target="_blank"
        >
          <mat-icon
            class="text-base mr-1"
            style="rotate: 135deg"
            color="primary"
            >link</mat-icon
          >
          <span class="underline-offset">{{ link.name }}</span>
        </a>
        }
      </div>
      <div class="flex flex-column" style="gap: 0.75rem">
        @if (degree.technologies) {
        <div class="flex flex-row flex-wrap gap-2">
          @for (technology of degree.technologies; track $index) {
          <button
            mat-flat-button
            class="tertiary-tonal technologies"
            disabled="true"
          >
            <mat-icon [svgIcon]="technology | lowercase"></mat-icon>
            <span class="font-medium">{{ technology }}</span>
          </button>
          }
        </div>
        } @if (degree.languages) {
        <div class="flex flex-row flex-wrap gap-2">
          @for (language of degree.languages; track $index) {
          <button
            mat-flat-button
            class="primary-tonal languages"
            disabled="true"
          >
            <span class="font-medium">{{ language }}</span>
          </button>
          }
        </div>
        }
      </div>
    </div>
  </mat-card>
  }
</div>
